@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    font-family: "Poppins";
    background-color: rgb(250, 255, 255);
    border: solid;
    border-color: black;
    border-width: 8px;
  }

#links a {
    text-decoration: none;
    color: rgb(116, 182, 245);
    padding: 40px 40px 30px 20px;
    font-size: 25px;
  }

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}  

.small p{
    font-size: 22px;
    font-stretch: narrower;
}  


h1 {
    font-size: 70px;
    font-style: italic;
    text-align: center;
    padding: 0 0 30px 0;
    margin: 0;
    font-family: "poppins", thin;
}

#photos img {
    object-fit: cover;  
    height: 650px;
    width: 450px;
    padding: 0px 30px 0px 30px;   
  }
  
#photos {
    display: flex;
    justify-content: center;
}  

h2 {
 font-size: 45px;
 padding: 0px;
 font-family: "poppins", bold;
}

ul{
margin-left: 50px;
}

.line{
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-top: 10px;
    
}

.grey{
    color: rgb(82, 81, 81);
}

.padding{
    padding: 0px 200px 120px 200px;
}

.list{
    list-style-type: "-  ";
    font-size: 30px;
}